@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--primary-font);
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: rgb(255, 208, 127);
  --black-color: rgb(21, 21, 21);
  --white-color: white;
  --primary-font: "Poppins", sans-serif;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
a,
a:hover {
  font-family: var(--primary-font);
  text-decoration: none;
}
a:hover {
  color: var(--main-color) !important;
}
ul,
ol {
  margin: 0px;
  padding: 0px;
}
.arima {
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;

  font-style: normal;
}

/* navbar header settings */
.navbar-brand {
  padding: 0px;
  margin: 0rem;
}
.navbar-brand img {
  width: 8rem;
}
.navbar-top {
  position: fixed;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3 ease-out;
  background: rgba(33, 33, 33, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(193, 193, 193, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.navbar-top .nav-item {
  padding: 0 0.625rem;
  transition: all 200ms linear;
}

.navbar-toggler:focus {
  outline: unset !important;
  border: unset !important;
  box-shadow: none !important;
}
.nav-link {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--white-color) !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* top banner */
.top-banner {
  background: linear-gradient(transparent, black), url("images/2151823127.png");
  background-position: right 0%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 100vh;
}

.card-wrapper {
  display: flex;

  gap: 1rem;
}
.card {
  height: 20rem;
  background: transparent !important;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-body {
  bottom: 0;

  width: 100%;
  background: linear-gradient(transparent, rgb(0, 0, 0));
  color: white;

  padding-top: 5rem;

  text-align: center;
}
.card-title {
  font-family: var(--primary-font);
  font-size: 1.1rem;
  text-transform: capitalize;
}
/* media */
@media only screen and (min-width: 0px) and (max-width: 750px) {
  .top-banner {
    height: 100%;
  }
  .card {
    height: 13rem;
    background: transparent !important;
  }
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
